div.textocentrado {
  text-align: center;
  margin-top: 16px;
}
.tutorialImagen {
  padding-left: 20px;
  cursor: pointer;
}
div.espacio {
  padding: 2%;
}
.textoDestacado {
  margin-left: 2%;
  margin-top: 16px;
}
.textoLista {
  margin-left: 2%;
}

div.numeroDestacado {
  position: absolute;
  font-size: 35px;
  color: gold;
  font-family: "Playfair Display", serif;
  line-height: 70%;
}
ul.lineaimagenes {
  display: flex;
  list-style: none;
  white-space: nowrap;
  padding: 0%;
}
div.imagenDestacadoLinea {
  list-style: none;
  flex-direction: row;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
}

.imagenDestacado {
  margin-left: 6px;
  padding-left: 5px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.imagenDestacado:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
button.Slice {
  border-top: 6px solid var(--firstnav-color) !important;
  border-bottom: 6px solid var(--firstnav-color) !important;
  background-color: var(--secondnav-color);
  border: hidden;
  color: white;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  opacity: 0.8;
  border-radius: 5px;
}

main p {
  margin: 0px;
}
