:root {
  --firstnav-color: rgb(40, 40, 40);
  --secondnav-color: rgb(50, 50, 50);
  --thirdnav-color: whitesmoke;
}

nav {
  left: -20px;
  top: auto;
  width: 30px;
  z-index: 0;
  position: absolute;
  background-color: var(--firstnav-color);
  text-align: center;
  overflow-x: hidden;
  display: block;
  transition: 0.3s;
}
nav:hover {
  left: 0;
}

.index {
  height: 100vh;
  left: -115px;
  width: 115px;
  z-index: 0;
  top: auto;
  position: absolute;
  background-color: var(--firstnav-color);
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 0.3s;
}
.accordion {
  margin-top: 2px;
  width: 100%;
  border: none;
  cursor: pointer;
  padding: 0;
  background: none;
  outline: inherit;
}
.accordionMn {
  background: var(--secondnav-color);
  padding: 2px;
  color: var(--thirdnav-color);
  width: 100%;
  font-size: 20px;
}
.accordionMn:hover {
  background-color: var(--thirdestilo-color);
  transition: 0.3s;
}

.submenus {
  max-height: 0;
  overflow: hidden;
  font-size: 15px;
  /*margin-bottom: 2px;
    margin-top: 2px;*/
  transition: 0.3s;
  padding-bottom: 1.5%;
}
.submenusA {
  background: none;
  display: flex;
  flex-direction: column;
  margin-top: 2px;
  align-content: center;
  color: var(--thirdnav-color);
}
.accordion:focus .accordion-focus\:submenus {
  max-height: 10rem;
  transition: 0.6s;
}
.boton {
  background-color: var(--secondnav-color);
  color: var(--thirdnav-color);
  border: none;
  width: 100%;
  height: 30px;
  font-size: 20px;
  margin-bottom: 2px;
  margin-top: 2px;
}

#barras {
  background-color: var(--secondnav-color);
  color: var(--thirdnav-color);
  font-size: 20px;
  height: 30px;
  overflow-y: hidden;
  border: none;
}

#barras:hover {
  cursor: pointer;
}
